body{
    margin: 0;
    font-family: sans-serif;
    background-color: aliceblue;
}
ul{
    background-color: lightslategray;
    margin-top: 0px;
}
li{
    display: inline-block;
}
.circle{
    color: white;
    font-size: 13px;
    background-color: green;
}
img{
    border-radius: 50%;
}
#circle1{
    padding-left: 15%;
    padding-right: 74%;
    display: inline-block;
    position: relative;
}

.circle{
    padding: 2px 9px 2px 9px;
    border-radius: 50%;
}
.drop-content>p{
    padding-left: 10px;
    font-size: 1.2em;
}
#img{
    position: absolute;
    top: 15px;
    right: 20px;
}
#logo{
    background-color: darkblue;
    width: 60px;
    padding-left: 40px;
    padding-right: 10px;
    margin-left: -40px;
    color: white;
} 
.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 15px;
    left: 0px;
  }
  #white{
      width: 40px;
      height: 25px;
      margin: -3px 0px 0px -4px;
      position: relative;
      top: -12px;
      cursor: pointer;
  }

  #white:hover{
      background-color: white;
  }

  #circle1:hover .drop-content {
    display: block;
  }
  #circle1{
    position: relative;
    display: inline-block;
    padding:20px 25px 15px 20px;
    margin-left: 0px;
    bottom: 5px;
  }
#opacity{
    opacity:0.7;
}  
#log{
    font-size: 1.1em
}
#circle1:hover{
    background-color: rgb(226, 60, 60);
}
#main{
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-gap: 10px;
}
#main>div{
    width: 100%;
}
#myprofile{
    font-size: 1.25em;
}
p{
    font-size: 15px;
}
#side1{
    background-color: white;
    margin: 15px 0px 20px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#side1a{
    border-bottom: 1px solid lightgray;
    padding: 0.1px 0px 20px 100px;
    margin:10px 15px 0px 15px;
}
#lastimage{
    border-bottom: 1px solid black;
}
#list1{
    margin:0.1px 0px 0px 30px;
    padding-bottom: 5px;
}
#list2{
    margin:0.1px 0px 0px 15px;
    padding-bottom: 5px;;
    background-color: cornflowerblue;
    color: white;
    padding:0.1px 0px 1px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*#list2{
    
    font-size: 15px;
    animation-name: example;
  animation-duration: 1s;  
  animation-fill-mode: forwards;
  position: relative;
  color: white;
  animation-timing-function:ease; 
}
@keyframes example{
    0%{ opacity: 0.1;top: 0px; left: -200px;}
    100%{left: 0px;}
}*/
/*#maingrid1{
    animation-name: examples;
  animation-duration: 1s;  
  animation-fill-mode: forwards;
  position: relative;
  color: white;
  animation-timing-function:ease; 
}
@keyframes examples{
    0%{ opacity: 0.1;top: 0px; left: -200px;}
    100%{left: 0px;}
}*/
#main{
    animation-name: examples;
  animation-duration: 1s;  
  animation-fill-mode: forwards;
  position: relative;
  animation-timing-function:ease; 
}
@keyframes examples{
    0%{top: 0px; left: -200px;}
    100%{left: 0px;}
}
#maingrid2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
}
#main1{
    width: 100%;
}
#main2{
    width: 96%;
    margin-right: 1;
}
#forest{
    border-radius: 0px;
}
#box1{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
#boxa1{
    background-color: white;
    height: 325px;
    border-radius: 5px
}
#button{
    padding: 9px 19px 9px 19px;
    background-color: gray;
    color: white;
    border: none;
    margin: 0px 0px 10px 14px;
}
#feeling{
    margin: 0px 0px 15px 13px;
    padding: 10px 20px 10px 16px;
}
#feeling::placeholder{
    color:black;
    font-size: 14.5px;
}
#opacity{
    padding: 20px 0px 5px 13px;
}
#event{
    padding:15px 0px 3px 58px;
}
#holiday{
    text-align: center;
}
#info{
    margin: 25px 0px 40px 0px;
}
#infos{
    background-color: blue;
    padding: 10px 80px 10px 80px;
    color: white;
}
span{
    padding: 3px 5px 3px 5px;
    background-color: blue;
    margin-left: 5px;
    color: white;
    font-size: 12px;
    margin-top: 56px;
}
#span{
    margin-bottom: 5px;
}
#first{
    margin-bottom: -7px;
}
#side1b{
    background-color: white;
    margin-left: 15px;
    height: 120px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
#interest{
    padding: 10px 0px 0px 4px;
}
#side1ba{
    margin-left: 10px;
}
#span2{
    font-size: 14px;
    position: relative;
    left: 510px;
    opacity: 0.7;

}
#box2a{
    font-size: 1.18em;
    display: inline;
    position: relative;
    bottom: 30px;
    padding-left: 12px;
    margin-right: 40px;
}
#box2{
    background-color: white;
    margin-top: 15px;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
#boxbody{
    border-bottom: 1px ridge gainsboro;
    margin: 15px 15px 40px 15px;
    padding-bottom: 10px;
}
#gridimage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    width: 100%;
}
#gridimage>div{
    width: 100%;
    border-radius: 0;
}
#span4{
    padding: 10px 20px 10px 20px;
    font-size: 15px;
}
#red{
    width: 90%;
    height: 15px;
    background-color: red;
    opacity: 0.7;
    margin: 0px 0px 40px 12px;
}
#Blue{
    width: 45%;
    background-color: green;
    height: 100%
}
#boxa1{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
#boxa2{
    background-color: white;
    height: 210px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
#jone{
    margin: -2px 0px 15px 15px;
}
#boxa2a{
    margin-left:70px;
}
#friend{
    padding-top: 13px;
}